src/main/templates/schema/ifmap-base-2.0v17.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.trustedcomputinggroup.org/2010/IFMAP/2"
  targetNamespace="http://www.trustedcomputinggroup.org/2010/IFMAP/2">
  
  <!-- 18.02.10 aw - Some modifications to get the wsdl2java
       tool generating better code. Additionally removed
       minOccurs and maxOccurs in the UpdateType -->


  <!-- top-level elements represent all the possible
       requests and responses -->
  <xsd:element name="publish" type="PublishRequestType"/>
  <xsd:element name="search" type="SearchRequestType"/>
  <xsd:element name="subscribe" type="SubscribeRequestType"/>
  <xsd:element name="poll" type="PollRequestType"/>
  <xsd:element name="purgePublisher" type="PurgePublisherRequestType"/>
  <xsd:element name="newSession" type="NewSessionRequestType"/>
  <xsd:element name="attachSession">
 	<xsd:complexType>
    		<xsd:attributeGroup ref="sessionAttributes"/>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="renewSession" type="renewSessionType"/>
 
 <xsd:element name="endSession" type="endSessionType"/>

 <!-- Tobias Ruhe's Dump Request -->
 <xsd:element name="dump" type="DumpRequestType"/>
	
<xsd:element name="response" type="ResponseType"/>

<xsd:complexType name="renewSessionType">
 	<xsd:attributeGroup ref="sessionAttributes"/>
 </xsd:complexType>
 
 <xsd:complexType name="endSessionType">
    	<xsd:attributeGroup ref="sessionAttributes"/>
</xsd:complexType>

  <!-- AccessRequestType Identifier represents an endpoint
       which is attempting to gain entry to the network-->
  <xsd:complexType name="AccessRequestType">
    <xsd:attribute name="administrative-domain" type="xsd:string"/>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- DeviceType Identifier represents a physical asset
       which is attempting to gain entry to the network -->
  <xsd:complexType name="DeviceType">
    <xsd:choice>
      <xsd:element name="aik-name" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
    </xsd:choice>
  </xsd:complexType>

  <!-- IdentityType Identifier represents an end-user -->
  <xsd:complexType name="IdentityType">
    <xsd:attribute name="administrative-domain" type="xsd:string"/>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="type" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="aik-name"/>
          <xsd:enumeration value="distinguished-name"/>
          <xsd:enumeration value="dns-name"/>
          <xsd:enumeration value="email-address"/>
          <xsd:enumeration value="hip-hit"/>        
          <xsd:enumeration value="kerberos-principal"/>
          <xsd:enumeration value="trusted-platform-module"/>
          <xsd:enumeration value="username"/>
          <xsd:enumeration value="sip-uri"/>
          <xsd:enumeration value="tel-uri"/>
          <xsd:enumeration value="other"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="other-type-definition" type="xsd:string"/>
  </xsd:complexType>

  <!-- IPAddressType Identifier represents a single IP address -->
  <xsd:complexType name="IPAddressType">
    <xsd:attribute name="administrative-domain" type="xsd:string"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
    <xsd:attribute name="type">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="IPv4"/>
          <xsd:enumeration value="IPv6"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <!-- MACAddressType Identifier represents an Ethernet MAC address -->
  <xsd:complexType name="MACAddressType">
    <xsd:attribute name="administrative-domain" type="xsd:string"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- MetadataListType is a container for metadata within
       other elements -->
  <xsd:complexType name="MetadataListType">
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- FilterType is a subset of XPath -->
  <xsd:simpleType name="FilterType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:complexType name="NewSessionRequestType">
    <xsd:attribute name="max-poll-result-size" type="xsd:integer" use="optional"/>
  </xsd:complexType>

  <xsd:attributeGroup name="validationAttributes">
    <xsd:attribute name="validation" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None"/>
          <xsd:enumeration value="BaseOnly"/>
          <xsd:enumeration value="MetadataOnly"/>
          <xsd:enumeration value="All"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="sessionAttributes">
    <xsd:attribute name="session-id" type="xsd:string" use="required"/>
  </xsd:attributeGroup>

  <!-- SessionRequestType is stateful session handling -->
  <xsd:complexType name="SessionRequestType">
    <xsd:attributeGroup ref="sessionAttributes"/>
  </xsd:complexType>

  <!-- UpdateType is the type for requests that update metadata -->
  <xsd:complexType name="UpdateType">
    <xsd:sequence>
      <xsd:choice minOccurs="1" maxOccurs="2">
        <xsd:element name="access-request" type="AccessRequestType"/>
        <xsd:element name="identity" type="IdentityType"/>
        <xsd:element name="ip-address" type="IPAddressType"/>
        <xsd:element name="mac-address" type="MACAddressType"/>
        <xsd:element name="device" type="DeviceType"/>
      </xsd:choice>
      <xsd:element name="metadata" type="MetadataListType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="lifetime" default="session">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="session"/>
          <xsd:enumeration value="forever"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  

  <!-- Just a copy of UpdateType to produce better code when using
       JAXBRI code generation. getUpdate or getDelete was created,
       but no getNotify
  -->
  <xsd:complexType name="NotifyType">
    <xsd:sequence>
      <xsd:choice minOccurs="1" maxOccurs="2">
        <xsd:element name="access-request" type="AccessRequestType"/>
        <xsd:element name="identity" type="IdentityType"/>
        <xsd:element name="ip-address" type="IPAddressType"/>
        <xsd:element name="mac-address" type="MACAddressType"/>
        <xsd:element name="device" type="DeviceType"/>
      </xsd:choice>
      <xsd:element name="metadata" type="MetadataListType"/>
    </xsd:sequence>
    <xsd:attribute name="lifetime" default="session">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="session"/>
          <xsd:enumeration value="forever"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <!-- DeleteType is the type for the delete element of
       a publish request, and specifies which metadata
       to delete. -->
  <xsd:complexType name="DeleteType">
    <xsd:sequence>
      <xsd:choice minOccurs="1" maxOccurs="2">
        <xsd:element name="access-request" type="AccessRequestType"/>
        <xsd:element name="identity" type="IdentityType"/>
        <xsd:element name="ip-address" type="IPAddressType"/>
        <xsd:element name="mac-address" type="MACAddressType"/>
        <xsd:element name="device" type="DeviceType"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="filter" type="FilterType" use="optional"/>
  </xsd:complexType>

  <!-- PublishRequestType updates or deletes metadata -->
  <xsd:complexType name="PublishRequestType">
    <xsd:sequence>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="update" type="UpdateType"/>
        <xsd:element name="notify" type="NotifyType"/>
        <xsd:element name="delete" type="DeleteType"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attributeGroup ref="sessionAttributes"/>
    <xsd:attributeGroup ref="validationAttributes"/>
  </xsd:complexType>

  <!-- SearchType specifies the parameters for a search, and is used
       for the search element as well as the update sub-element of a
       subscribe element -->
  <xsd:complexType name="SearchType">
    <xsd:sequence>
      <xsd:choice minOccurs="1" maxOccurs="1">
        <xsd:element name="access-request" type="AccessRequestType"/>
        <xsd:element name="identity" type="IdentityType"/>
        <xsd:element name="ip-address" type="IPAddressType"/>
        <xsd:element name="mac-address" type="MACAddressType"/>
        <xsd:element name="device" type="DeviceType"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="match-links" type="FilterType"/>
    <xsd:attribute name="max-depth" type="xsd:unsignedInt"/>
    <xsd:attribute name="terminal-identifier-type" type="xsd:string"/>
    <xsd:attribute name="max-size" type="xsd:unsignedInt"/>
    <xsd:attribute name="result-filter" type="FilterType"/>
  </xsd:complexType>

  <!-- SearchRequestType queries the server for matching
       metadata -->
  <xsd:complexType name="SearchRequestType">
    <xsd:complexContent>
      <xsd:extension base="SearchType">
        <xsd:attributeGroup ref="sessionAttributes"/>
        <xsd:attributeGroup ref="validationAttributes"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- DeleteSearchRequestType is for removing subscriptions -->
  <xsd:complexType name="DeleteSearchRequestType">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- SubscribeRequestType is for managing subscriptions -->
  <xsd:complexType name="SubscribeRequestType">
    <xsd:sequence>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="update">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="SearchType">
                <xsd:attribute name="name" type="xsd:string" use="required"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="delete" type="DeleteSearchRequestType"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attributeGroup ref="sessionAttributes"/>
    <xsd:attributeGroup ref="validationAttributes"/>
  </xsd:complexType>

  <!-- PollRequestType is for polling for notification of
       metadata changes that match subscriptions -->
  <xsd:complexType name="PollRequestType">
    <xsd:attributeGroup ref="validationAttributes"/>
    <xsd:attributeGroup ref="sessionAttributes"/>
  </xsd:complexType>

  <!-- PurgePublisherRequestType is for removing all metadata
       published by a particular publisher -->
  <xsd:complexType name="PurgePublisherRequestType">
    <xsd:attribute name="ifmap-publisher-id" type="xsd:string"/>
    <xsd:attributeGroup ref="sessionAttributes"/>
  </xsd:complexType>
  

  <!-- ResultItemType is for search or poll results showing
       metadata attached to identifiers and links-->
  <xsd:complexType name="ResultItemType">
    <xsd:sequence>
      <xsd:choice minOccurs="1" maxOccurs="2">
        <xsd:element name="access-request" type="AccessRequestType"/>
        <xsd:element name="identity" type="IdentityType"/>
        <xsd:element name="ip-address" type="IPAddressType"/>
        <xsd:element name="mac-address" type="MACAddressType"/>
        <xsd:element name="device" type="DeviceType"/>
      </xsd:choice>
      <xsd:element name="metadata" type="MetadataListType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- SearchResultType contains the identifiers and links
       along with associated metadata -->
  <xsd:complexType name="SearchResultType">
    <xsd:sequence>
      <xsd:element name="resultItem" type="ResultItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>

  <!-- Adding artifical SearchResults to generate better code 12.06.10 aw -->
  <xsd:complexType name="UpdateResultType">
    <xsd:sequence>
      <xsd:element name="resultItem" type="ResultItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>
  
  <!-- Adding artifical SearchResults to generate better code 12.06.10 aw -->
  <xsd:complexType name="DeleteResultType">
    <xsd:sequence>
      <xsd:element name="resultItem" type="ResultItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>
  
  <!-- Adding artifical SearchResults to generate better code 12.06.10 aw -->
  <xsd:complexType name="NotifyResultType">
    <xsd:sequence>
      <xsd:element name="resultItem" type="ResultItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>

  <!-- PollResultType contains a searchResult for each
       subscription that had changes since the last poll -->
  <xsd:complexType name="PollResultType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="searchResult" type="SearchResultType"/>
        <xsd:element name="updateResult" type="UpdateResultType"/>
        <xsd:element name="deleteResult" type="DeleteResultType"/>
        <xsd:element name="notifyResult" type="NotifyResultType"/>
        <xsd:element name="errorResult" type="ErrorResultType"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ErrorResultType indicates the cause of an error -->
  <xsd:complexType name="ErrorResultType">
    <xsd:sequence>
      <xsd:element name="errorString" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="errorCode" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AccessDenied"/>
          <xsd:enumeration value="Failure"/>
          <xsd:enumeration value="InvalidIdentifier"/>
          <xsd:enumeration value="InvalidIdentifierType"/>
          <xsd:enumeration value="IdentifierTooLong"/>
          <xsd:enumeration value="InvalidMetadata"/>
          <xsd:enumeration value="InvalidSchemaVersion"/>
          <xsd:enumeration value="InvalidSessionID"/>
          <xsd:enumeration value="MetadataTooLong"/>
          <xsd:enumeration value="SearchResultsTooBig"/>
          <xsd:enumeration value="PollResultsTooBig"/>
          <xsd:enumeration value="SystemError"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>
  
  <!-- SessionResultType is for stateful session handling -->
  <xsd:complexType name="SessionResultType">
    <xsd:attribute name="session-id" type="xsd:string" use="required"/>
    <xsd:attribute name="ifmap-publisher-id" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="NewSessionResultType">
    <xsd:attribute name="session-id" type="xsd:string" use="required"/>
    <xsd:attribute name="ifmap-publisher-id" type="xsd:string" use="required"/>
    <xsd:attribute name="max-poll-result-size" type="xsd:integer" use="optional"/>
  </xsd:complexType>

  <!-- ResponseType encapsulates results from all the different
       requests -->
<xsd:complexType name="ResponseType">
    <xsd:choice>
      <xsd:element name="errorResult" type="ErrorResultType"/>
      <xsd:element name="pollResult" type="PollResultType"/>
      <xsd:element name="searchResult" type="SearchResultType"/>
      <xsd:element name="subscribeReceived">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="publishReceived">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="purgePublisherReceived">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="newSessionResult" type="NewSessionResultType"/>
      <xsd:element name="attachSessionResult" type="SessionResultType"/>
      <xsd:element name="renewSessionResult">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="endSessionResult">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="dumpResult" type="DumpResponseType"/>
    </xsd:choice>
    <xsd:attributeGroup ref="validationAttributes"/>
  </xsd:complexType>
  
  <!-- metadataAttributes specifies attributes on metadata which are
       used by MAP servers.

       ifmap-publisher-id and ifmap-timestamp are added to all metadata by the
       server before storage in the database. MAP clients MUST NOT
       include ifmap-publisher-id or ifmap-timestamp in published metadata.

       cardinality is used by the MAP client to indicate to the server
       whether the metadata can have multiple values.

       anyAttribute enables metadata elements which include the
       ifmap:metadataAttributes attributeGroup to add new attributes
       for use with future versions of IF-MAP. -->
  <xsd:attributeGroup name="metadataAttributes">
    <xsd:attribute name="ifmap-publisher-id" type="xsd:string"/>
    <xsd:attribute name="ifmap-timestamp" type="xsd:dateTime"/>
    <xsd:anyAttribute/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="singleValueMetadataAttributes">
    <xsd:attributeGroup ref="metadataAttributes"/>
    <xsd:attribute name="ifmap-cardinality" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="singleValue"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="multiValueMetadataAttributes">
    <xsd:attributeGroup ref="metadataAttributes"/>
    <xsd:attribute name="ifmap-cardinality" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="multiValue"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
  
  <!-- 12.08.10 aw - Modifications to add Tobias Ruhe's
  	dump operation -->

  <xsd:complexType name="DumpRequestType">
	  <xsd:complexContent>
		  <xsd:restriction base="xsd:anyType">
			  <xsd:attributeGroup ref="sessionAttributes"/>
			  <xsd:attribute name="identifier" type="xsd:string" />
		  </xsd:restriction>
	  </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DumpResponseType">
	  <xsd:complexContent>
		  <xsd:restriction base="xsd:anyType">
			  <xsd:choice maxOccurs="unbounded" minOccurs="0">
				  <xsd:element name="access-request" type="AccessRequestType"/>
				  <xsd:element name="identity" type="IdentityType"/>
				  <xsd:element name="ip-address" type="IPAddressType"/>
				  <xsd:element name="mac-address" type="MACAddressType"/>
				  <xsd:element name="device" type="DeviceType"/>
			  </xsd:choice>
			  <xsd:attribute name="last-update" type="xsd:string" />
		  </xsd:restriction>
	  </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
